# =======================================================
# 🔧 DATABASE CONFIGURATION (PostgreSQL on Supabase)
# =======================================================
# Main connection URL (non-pooling version recommended for backend use)
POSTGRES_URL_NON_POOLING=postgresql://postgres:xxxxxxxxxxxxxxxx@db.xxxxxxxxxxxxx.supabase.co:5432/postgres

# for using the db locally 
IS_LOCAL = true

#admin can see all the content
ADMIN_PASSWORD = "Password"
